.cart-container {
    min-height: 85vh;
}

.cart-items-container {
    display: flex;
    padding: 20px 15px;
    background: #DBDBDB;
    border: none;
    margin-top: 12px;
}

.cart-item-featured-image{
    aspect-ratio: 1/1;
    width: 40%;
    /* overflow: none; */
    margin-right: 24px;
}

.cart-items-content-container h1 {
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 400;
    margin-top: 0px;
}

.cart-items-content-container h2 {
    font-size: 18px;
    margin: 0px;
}

.cart-items-content-container p {
    font-size: 16px;
    margin: 6px 0px;
}

.mobile-total-container {
    display: flex;
    justify-content: end;
    background-color: #DBDBDB;
}

.total-amount-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    border: none;
    margin-right: 24px;
}

.mobile-total-container p {
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}

@media (min-width: 576px) { 
    .cart-items-content-container {
        padding-left: 24px;
    }

    .cart-items-content-container h1 {
        font-size: 20px;
        margin-bottom: 6px;
        font-weight: 400;
    }
    
    .cart-items-content-container h2 {
        font-size: 20px;
        margin: 0px;
    }
    
    .cart-items-content-container p {
        font-size: 18px;
        margin: 8px 0px;
    }

    .mobile-total-container p {
        font-size: 22px;
    }
 }

 @media (min-width: 1024px) { 
    .mobile-cart-container {
        display: none;
    }
 }

 @media (min-width: 640px) { 
    .cart-items-content-container {
        padding-left: 36px;
    }

    .cart-items-content-container h1 {
        font-size: 24px;
        margin-bottom: 8px;
        font-weight: 400;
    }
    
    .cart-items-content-container h2 {
        font-size: 24px;
        margin: 6px;
    }
    
    .cart-items-content-container p {
        font-size: 20px;
        margin: 10px 0px;
    }
 }

 .total-amt-heading {
    margin-left: 12px;
    font-weight: 400;
 }

 .total-amt-heading span {
    font-weight: 500;
 }

 hr {
    color: black;
    margin-top: 24px;
 }

 .place-order-btn {
    width: 100%;
    border-radius: 8px;
    font-size: 18px;
    padding: 16px;
    border: none;
    outline: none;
    background: #FFD600;
 }


 /* ................. Desktop ....................... */

 .desktop-cart-container {
    display: none;
 }

 @media screen and (min-width: 1024px) {
    .desktop-cart-container {
        display: block;
     }
 }

 .my-cart-heading-flex-container {
    display: flex;
    justify-content: center;
    margin: 36px 0px;
 }

 .my-cart-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .my-cart-icon {
    width: 56px;
    height: 53px;
 }

 .my-cart-heading-text {
    font-size: 32px;
    margin-left: 12px;
 }

 .dt-cart-items-flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
 }

 .dt-cart-item-container {
    display: flex;
    flex-direction: column;
    width: 75%;
 }

 .dt-cart-item-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #E1E1E1;
    border-left: none;
    width: 100%;
    padding: 24px 48px 48px 0px;
 }

 .dt-cart-item-content-container h2 {
    margin-top: 0px;
    font-weight: 500;
 }

 .dt-cart-item-featured-image {
    width: 25%;
    border: 2px solid black;
    border-radius: 6px;
 }

 .dt-cart-item-name-container p {
    margin-top: 0px;
    margin-bottom: 6px;
    color: #A2A2A2;
 }

 .dt-cart-item-price-container p {
    font-weight: 500;
    font-size: 18px;
 }

 .dt-cart-item-quantity-container select {
    width: 100px;
    border: 1px solid grey;
    background-color: #efe9e9;
 }

 .dt-cart-item-total-container p {
    font-weight: 500;
    font-size: 18px;
 }

 .dt-cart-items-total-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
 }

 .dt-cart-items-total-container div {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    padding-right: 48px;
    border-right: 1px solid #E1E1E1;
    padding-bottom: 48px;
    
 }

 .dt-cart-item-price-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding-left: 24px;
 }

 .dt-cart-item-super-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 50vh;
 }

 .dt-cart-item-price-details-list-container {
    display: flex;
    flex-direction: column;
 }

 .dt-cart-item-price-details-list-container h2 {
    margin-top: 0px;
    font-weight: 500;
 }

 .dt-cart-item-price-details-list-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .dt-cart-item-price-details-list-container p {
    font-size: 18px;
    margin-top: 0px;
 }

 .dt-cart-total-amt-place-order-btn-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }